flows.json
[{"id":"479a66a9.c435d8","type":"tab","label":"IBMIOT-UI","disabled":false,"info":""},{"id":"e82fa3b1.68985","type":"ibmiot in","z":"479a66a9.c435d8","authentication":"apiKey","apiKey":"4414968a.ffece8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTDevice","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":139,"wires":[["fc26b648.7e01f8","6b8e9266.2d1f8c","f6f13444.fb95b8"]]},{"id":"744c935f.ca443c","type":"debug","z":"479a66a9.c435d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":180,"wires":[]},{"id":"fc26b648.7e01f8","type":"function","z":"479a66a9.c435d8","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["744c935f.ca443c","bd77a16f.cf4ee"]]},{"id":"6b8e9266.2d1f8c","type":"function","z":"479a66a9.c435d8","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["744c935f.ca443c","4294ea09.00d754","fbc2de37.57112"]]},{"id":"f6f13444.fb95b8","type":"function","z":"479a66a9.c435d8","name":"Soil_moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["744c935f.ca443c"]]},{"id":"174e0a3e.5ba8c6","type":"catch","z":"479a66a9.c435d8","name":"","scope":null,"uncaught":false,"x":780,"y":320,"wires":[["744c935f.ca443c"]]},{"id":"fbc2de37.57112","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"d3548468.df8658","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil_moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":440,"wires":[]},{"id":"bd77a16f.cf4ee","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"ea5aae5e.1e465","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":40,"wires":[]},{"id":"4294ea09.00d754","type":"ui_gauge","z":"479a66a9.c435d8","name":"","group":"d133af7f.b22ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":100,"wires":[]},{"id":"df4d863a.64e0a8","type":"inject","z":"479a66a9.c435d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":310,"y":460,"wires":[["438fd7b1.e6d818"]]},{"id":"438fd7b1.e6d818","type":"http request","z":"479a66a9.c435d8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=9bb25e5b1a3576ac8e00a39bb161e89e","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":520,"wires":[["744c935f.ca443c"]]},{"id":"a5944a04.179288","type":"ibmiot out","z":"479a66a9.c435d8","authentication":"apiKey","apiKey":"4414968a.ffece8","outputType":"cmd","deviceId":"Motor","deviceType":"IOTDevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":520,"wires":[]},{"id":"90c95a52.35c348","type":"ui_button","z":"479a66a9.c435d8","name":"","group":"8479861e.0a0098","order":1,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":570,"y":600,"wires":[["a5944a04.179288"]]},{"id":"f21c39f2.5796e8","type":"ui_button","z":"479a66a9.c435d8","name":"","group":"8479861e.0a0098","order":0,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":640,"y":540,"wires":[["a5944a04.179288"]]},{"id":"4414968a.ffece8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d3548468.df8658","type":"ui_group","z":"","name":"Smart_Agriculture  Soil_moisture","tab":"4b841a7c.6adff4","order":3,"disp":true,"width":"6","collapse":false},{"id":"ea5aae5e.1e465","type":"ui_group","z":"","name":"Smart_Agriculture Temperature","tab":"4b841a7c.6adff4","order":1,"disp":true,"width":"6","collapse":false},{"id":"d133af7f.b22ec","type":"ui_group","z":"","name":"Smart_Agriculture  Humidity","tab":"4b841a7c.6adff4","order":2,"disp":true,"width":"6","collapse":false},{"id":"8479861e.0a0098","type":"ui_group","z":"","name":"Motor_Command","tab":"4b841a7c.6adff4","order":4,"disp":true,"width":"6","collapse":false},{"id":"4b841a7c.6adff4","type":"ui_tab","z":"","name":"Agriculture","icon":"dashboard","disabled":false,"hidden":false}]